<div class="col-12">
  <div class="card my-3 shadow">
    <div class="card-body">
      <div class="border-bottom">
        <h3 class="text-decoration-none card-title fs-5 fw-bold">{{ availability.vaccine.name }}</h3>
      </div>
      <div class="card-text fs-6 text-muted">
      	{{ availability.clinic.address|safe }}
      </div>
      <div class="card-text fs-6 text-muted">
        {{ availability.clinic.clinic_mail|safe }}
      </div>
      <div class="card-text fs-6 text-muted">
      	{{ availability.clinic.phone_number|safe }}
      </div>
    </div>
  </div>
</div>