{% load static %}
{% load i18n %}

<div class="container">

  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="{% url 'homepage:home' %}" class="fs-3 fw-bold text-white text-decoration-none">
        <img class="bi me-2" width="32" height="32" src="{% static "img/vaccine.png" %}">
        VaccinePlan
      </a>
    </div>

    {% with request.resolver_match.view_name as view_name %}

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item">
          <a href="{% url 'homepage:home' %}" class="nav-link px-3 {% if view_name == 'homepage:home' %}text-secondary disabled{% else %}text-white{% endif %}">Главная страница</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'vaccine_calendar:calendar' %}" class="nav-link px-3 {% if view_name == 'vaccine_calendar:calendar' %}text-secondary disabled{% else %}text-white{% endif %}">Календарь прививок</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'feedback:feedback' %}" class="nav-link px-3 {% if view_name == 'feedback:feedback' %}text-secondary disabled{% else %}text-white{% endif %}">Обратная связь</a>
        </li>
        
        {% if user.is_superuser %}

        <li class="nav-item">
          <a href="{% url 'admin:index' %}" class="nav-link px-3">Админка</a>
        </li>

        {% endif %}
      
      </ul>

    {% endwith %}

    <div class="col-md-3 text-end">

      {% if not user.is_authenticated %}

      <a class="btn btn-sm btn-outline-success" href="{% url 'users:signup' %}">Зарегистрироваться</a>
      <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:login' %}">Войти</a>

      {% else %}

      <div class="dropdown">
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.first_name }} {{ user.last_name }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a></li>
          {% if user.is_clinic_admin %}
          <li><a class="dropdown-item" href="{% url '#' %}">Администрирование клиники</a></li>
          {% endif %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
        </ul>
      </div>

      {% endif %}
      
    </div>
  </div>
</div>
