{% load tz %}


<div class="card my-3 shadow p-3">
  <h2 class="fs-5 fw-bold">{{ record.vaccine.name }} {% if record.timetable < now|utc %}<span class="badge bg-danger">Прошедшее</span>{% endif %}</h2>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-2">
          <span class="badge bg-secondary">Дата</span>
        </div>
        <div class="col">
          <p class="fs-6 text-muted">{{ record.timetable|date }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span class="badge bg-secondary">Телефон</span>
        </div>
        <div class="col">
          <p class="fs-6 text-muted">{{ record.clinic.phone_number }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <span class="badge bg-secondary">Адрес</span>
        </div>
        <div class="col">
          <p class="fs-6 text-muted">{{ record.clinic.address }}</p>
        </div>
      </div>
    </div>
    <div class="d-flex col justify-content-end">
      <a href={% url "vaccine_calendar:record_delete" record.id %} class="btn btn-outline-danger text-center">Сделано (удалить)</a>
    </div>
  </div>
</div>
