</ul>
</div>
	</div>
		</div>
			</div>
<div class="accordion" id="accordionPanelsStayOpenExample">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button" type="button"
				data-bs-toggle="collapse"
				data-bs-target="#panelsStayOpen-collapse{{vaccine.category.id}}"
				aria-expanded="true"
				aria-controls="panelsStayOpen-collapse{{category.category.id}}">
				{{ vaccine.category.name }}
			</button>
		</h2>
		<div id="panelsStayOpen-collapse{{vaccine.category.id}}"
				class="accordion-collapse collapse">
			<div class="accordion-body">
				<ul class="list-group">


