{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}

<div class="container my-2 py-2 px-3">
  <div class="row">
    {% for illness in illnesses %}
    {% include "includes/illness_card.html" %}
    {% empty %}
    <div class="alert alert-dark">
      <h4 class="alert-heading">Упс! Похоже, товаров нет.</h4>
      <p>Попробуйте заглянуть в другое время или добавьте сами. Также можете проверить, корректно ли настроен фильтр.
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}